.App {
  --font-color: #282c34;
}
textarea{
  outline: none;
  border: none;
}
.App {
  justify-content: center;
  text-align: center;
  display: flex;
  width: clamp(0px, 100%, 1320px);
  margin: auto;
  min-height: 100vh;
}

.App>* {
  background-color: white;
}

main {
  border-right: 1px solid rgb(239, 243, 244);
  width: 600px;
  flex-direction: column;
  display: flex;
}

nav {
  border-right: 1px solid rgb(239, 243, 244);
  flex: 1;
  text-align: left;
  padding: 10px 30px;
  max-width: 275px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

.right-bar {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

.nav-links {
  width: 100%;
  padding: 0;
  margin-top: 8px;
  font-size: 1.4rem;
  list-style-type: none;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 200ms;
}

.nav-links a {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--font-color);
  text-decoration: none;
  padding: 12px;
  transition: 300ms;
  border-radius: 50px;
}

.nav-links a:hover {
  background-color: rgb(236, 236, 236);
}

nav svg {
  height: 30px;
}


.logo svg {
  fill: rgb(29, 155, 240);
  stroke: none;
}

.logo {
  padding: 12px;
}

.active svg {
  fill: black;
  stroke: none;
}

li:nth-child(2) .active svg {
  height: 30px;
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.nav-links .active {
  font-weight: 600;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  width: 100%;
  font-family: inherit;
  padding: .95rem 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tweet-button svg {
  display: none;
  height: 30px;
}

.sidebar-text-node {
  padding-right: 10px;
}

@media (max-width: 1281px) {
  .sidebar-text-node {
    display: none;
  }

  nav {
    max-width: 210px;
  }

  .nav-links a {
    justify-content: flex-end;
    padding: .75rem;
    margin-left: auto;
  }

  .tweet-button svg {
    display: block;
    fill: white;
  }

  .tweet-button {
    display: flex;
    align-items: flex-end;
    padding: .75rem;
    width: auto;
    margin-left: auto;
    text-align: right;
  }

  .logo {
    text-align: right;
  }

  nav {
    padding: 10px 20px;
    max-width: 94px;
  }
}

@media (max-width: 1100px) {
  nav {
    max-width: 190px;
  }
}

@media (max-width: 999px) {

  .nav-links a {
    justify-content: flex-end;
    padding: .75rem;
    margin-left: auto;
  }

  .tweet-button svg {
    display: block;
    fill: white;
  }

  .tweet-button {
    display: flex;
    align-items: flex-end;
    padding: .75rem;
    width: auto;
    margin-left: auto;
    text-align: right;
  }


  nav {
    padding: 10px 20px;
  }
}

.loader-spinner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-self: center;
  margin-top: 10% !important;
  border: 3px solid rgb(29, 155, 240);
  border-bottom: 3px solid white;
  animation: spinning 2s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(360deg);
  }

  60% {
    transform: rotate(540deg);
  }

  70% {
    transform: rotate(720deg);
  }

  80% {
    transform: rotate(900deg);
  }

  100%{
    transform: rotate(1080deg);
  }
}
.heightened .banner{
  position: relative;
}

.emoji{
  padding: 0px 1px;
}
.modal-container{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.322) !important;
  z-index: 100;
}

.modal{
  padding: 2px;
  margin-top: 80px;
  background-color: white;
  border-radius: 16px;
  max-height: 600px;
  overflow: auto;
  padding-top: 0px;
}

.close-modal-svg{
  height: 36px;
  padding: 8px;
  border-radius: 50%;
}
.close-modal{
  width: fit-content;
  height: 36px;
}
.close-modal-svg:hover{
  background-color: rgba(220, 220, 220, 0.438);
}

.modal .tweet{
  border: 0px;
}

.home-modal .tweet-write-content__control{
  min-height: 100px;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.modal-header{
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 12px;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.918);
  backdrop-filter: blur(8px);
  z-index: 10;
}
.modal-flex{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.modal-title{
  font-size: 1.3rem;
  font-weight: 600;
}
.save-button{
  background-color: black;
  color: white;
  font-size: 1.03rem;
  font-weight: 600;
  padding: .35rem 1rem;
  border-radius: 25px;
  font-family: inherit;
  transition: 200ms;
  border: none;
}
.save-button:hover{
  background-color: #282c34;
}
.centered{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 720px */

nav .tweet-header{
  flex-direction: column;
  gap: 0px;
}
.input-file{
  visibility: hidden;
  position: absolute;
}