.home {
    display: flex;
    flex-direction: column;
}

.home>* {
    margin: 0;
    background-color: var(--background-color);
}

.tweet-write-content .tweet-header {
    flex-direction: column;
    gap: 0px;
}

.main-tweet-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tweet {
    padding: 16px 16px 5px 16px;
    border-bottom: 1px solid var(--border-color);
    color: var(--font-color);
}

.tweet-wrapper {
    display: flex;
    gap: 12px;
    transition: 200ms;
}

.suggestion {
    padding: 12px 12px 5px 12px;
    display: flex;
    gap: 12px;
    border-bottom: 1px solid var(--border-color);
    transition: 200ms;
}

.suggestion:hover {
    background-color: var(--hover-color);
}

.suggestion .tweet-profile-pic {
    box-shadow: none;
}

.suggestion-container {
    position: relative;
    min-width: 400px;
    overflow: hidden;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    z-index: 2;
    border-radius: 15px;
}

.retweeted-svg {
    fill: var(--light-font-color);
    height: 14px;
}
.tweet-profile-pic-container{
    width: 48px;
    height: 48px;
    background-color: var(--hover-color);
    border-radius: 50%;
}
.tweet-profile-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.tweet-username {
    font-weight: 600;
    font-size: 1.05rem;
    color: var(--font-color);
    text-decoration: none;
}

.tweet-username:hover {
    text-decoration: underline;
}

.tweet-usertag {
    color: var(--light-font-color);
    font-size: 1.05rem;
}

.tweet-timestamp {
    color: var(--light-font-color);
    flex: 1;
    text-align: left;
}

.tweet-header {
    display: flex;
    gap: 5px;
}

.tweet-replied {
    color: var(--light-font-color);
    text-align: start;
}



.retweeted-header {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-left: 33px;
}

.retweeted-header .tweet-username {
    font-size: .9rem;
    color: var(--light-font-color) !important;
}


.tag {
    position: relative;
    color: rgb(0, 174, 255);
    text-decoration: none;
    z-index: 0;
}

.tweet-write-content .tag {
    position: relative;
    z-index: 1;
    color: rgb(0, 174, 255);
    text-decoration: none;
}

.tweet-write-content__highlighter {
    border: 2px solid transparent !important;
}

.tweet-write-content__highlighter .tag {
    color: #00B2FF;
    background-color: white;
}

.tweet-content {
    text-align: left;
    font-weight: 400;
    white-space: pre-line;
}

.tweet-interact svg {
    height: 31.75px;
    fill: var(--light-font-color);
    padding: 7px;
    border-radius: 50%;
    transition: 100ms;
}

.heart-icon {
    transform: scaleY(.5) scaleX(.6);
}

.main-tweet .heart-icon {
    transform: scaleY(.6) scaleX(.7);
}

.tweet-interact>* {
    color: var(--light-font-color);
    display: flex;
    gap: 5px;
    padding: 0px 20px 0px 0px;
    transition: 100ms;
    align-items: center;
    font-size: 13px;
    border-radius: 50%;
    font-weight: 400;
}

.tweet-interact>*:hover svg {
    background-color: gainsboro;

}

.comment:hover svg {
    background-color: rgba(99, 180, 255, 0.212);
    fill: rgb(0, 162, 255);
}

.comment:hover {
    color: rgb(0, 140, 255);
}

.like:hover svg {
    background-color: rgba(249, 24, 129, 0.116);
    fill: rgb(249, 24, 128);
}

.like:hover {
    color: rgb(249, 24, 128);
}

.retweet:hover svg {
    background-color: rgba(34, 151, 120, 0.13);
    stroke-width: .5px;
    stroke: rgb(34, 151, 120);
    fill: rgb(34, 151, 120);
}

.retweet:hover {
    color: rgb(34, 151, 120);
}

.tweet-interact {
    max-width: 425px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-weight: 900;
    color: #888;
    font-family: 'Roboto', sans-serif;
}

.liked {
    color: rgb(249, 24, 128);
}

.like.liked svg {
    fill: rgb(249, 24, 128);
}

.retweeted {
    color: rgb(34, 151, 120);
}

.retweet.retweeted svg {
    stroke-width: .5px;
    stroke: rgb(34, 151, 120);
    fill: rgb(34, 151, 120);
}

main:not(.modal)>.tweet:not(.display):not(.return-tweet-exp):not(.home-write):not(.reply-write):hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.write-left-options {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.sub-options {
    width: 20px;
    fill: rgb(0, 140, 255);
}

.tweet-write-content {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    margin-top: 8px;
    min-height: 48px;
    text-align: left;
    border: 0px;
    width: 100%;
    resize: none;
    outline: 0px;
    white-space: pre-line;
    font-size: 1.5rem;
}

.tweet-write {
    flex: 1;
}

.tweet-write-options {
    padding: 10px 0px;
    display: flex;
}

.media-tweet {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.media-tweet:hover {
    background-color: rgba(0, 140, 255, 0.116);
}

.home-tweet-button {
    padding: .5rem 1.25rem;
    color: white;
    background-color: rgb(0, 140, 255);
    transition: 200ms;
    font-size: 1.1rem;
    border-radius: 50px;
    font-weight: 600;
    border: 0px;
    outline: 0px;
}

.disabled {
    background-color: rgb(136, 199, 250);
}

.home-tweet-button:not(.disabled):hover {
    background-color: rgba(0, 140, 255, 0.74);
}

.tweet-media {
    width: fit-content;
    display: flex;
    gap: 2px;
}

.tweet-media-wrapper {
    width: fit-content;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid var(--border-color);
}

.tweet-media-wrapper img {
    display: block;
    max-width: 100%;
    max-height: 510px;
}

.tweet-write .EmojiPickerReact {
    z-index: 1;
    position: absolute !important;
    top: 0 !important;
    left: 100%;
    box-shadow: 0px 0px 10px gainsboro;
}

.emoji {
    height: 18px;
    margin-bottom: -3px;
}

.home-write .emoji {
    height: 24px;
}

.main-tweet .emoji {
    height: 28px;
    margin-bottom: -6px;
}

.grayed-text:hover {
    user-select: none;
}

.empty-tweet::after {
    content: "What's Happening?";
    color: gray;
}

.reply-write .empty-tweet::after {
    content: 'Tweet your reply';
}

.register-button svg {
    height: 20px;
}

.register-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.register-redirect {
    margin-top: 12px;
}

.pseudolink {
    color: #00B2FF;
    text-decoration: underline;
    cursor: pointer;
}

.home h1 {
    text-align: left;
    padding-left: 12px;
    font-size: 1.7rem;
}

.tweet-options {
    position: relative;
    display: flex;
    right: 0px;
    align-items: center;
    justify-content: center;
}

.tweet-options svg {
    fill: var(--font-color);
}

.tweet-options:hover .sub-options {
    fill: rgb(72, 118, 145);
}

.tweet-options::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    padding: 8px;
}

.tweet-options:hover:after {
    background-color: #00b3ff10;
    border-radius: 50%;
}

.option-container {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    animation: transform 200ms;
    border-radius: 15px;
    transform-origin: top;
    z-index: 100;
    flex-direction: column;
    display: flex;
    box-shadow: 0px 0px 10px 1px var(--border-color);
    overflow: hidden;
}

.option {
    white-space: nowrap;
}

.option-container>* {
    display: flex;
    padding: 12px;
    gap: 12px;
    font-weight: 600;
}

.option-svg {
    height: 20px;
}

@keyframes transform {
    from {
        color: transparent;
        transform: scaleY(0);
    }

    to {
        color: black;
        transform: scaleY(1);
    }
}

.hide-opt {
    position: fixed;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 50;
}

.option {
    transition: 300ms;
    cursor: pointer;
    user-select: none;
}

.option:hover {
    background-color: var(--hover-color);
}

.option.Delete {
    color: rgb(244, 33, 46);
}

.option.Delete svg {
    fill: rgb(244, 33, 46);
}

.tweet-write-content__suggestions {
    top: 100% !important;
    width: 100%;
    left: 0px;
}