.chats {
    border-right: 1px solid rgb(239, 243, 244);
    width: 388px;
    padding: 12px;
}

.messages-container {
    flex: 1;
}

.message-input-container {
    gap: 4px;
    margin: 5px;
    border-radius: 10px;
}


.send-message {
    border: none;
    outline: none;
    color: white;
    padding: 2px 8px;
    font-family: 'Roboto', sans-serif;
    background-color: royalblue;
    font-weight: 600;
}

.messages-main {
    display: flex;
    flex-direction: column;
}

.message-write {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: rgb(239, 243, 244);
}

.empty-message::after {
    content: "Write a message";
    color: gray;
}

.message-write .EmojiPickerReact {
    position: absolute !important;
    bottom: 120% !important;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px gainsboro;
}



.media-message {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.media-message:hover {
    background-color: rgba(0, 140, 255, 0.116);
}

.message-write-content {
    margin: 0px;
    min-height: 20px;
    text-align: left;
    border: 0px;
    width: 100%;
    resize: none;
    outline: 0px;
    white-space: pre-line;
    max-height: 200px;
    overflow: auto;
}

.message-write-options {
    display: flex;
    align-items: center;

    gap: 5px;
}

.media-message svg {
    transition: 100ms;
}

.disabled-button {
    filter: grayscale(.7);
}

.message-other {
    padding: 12px 12px 5px 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: 200ms;
    align-items: flex-start;
}

.message-mine {
    align-items: flex-end;
    padding: 12px 12px 5px 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: 200ms;
}

.message-content {
    padding: 12px 16px;
}

.message-mine .message-content {
    background-color: rgb(29, 155, 240);
    color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sub-options.chat {
    fill: black;
}

.media-message.chat:hover {
    background-color: rgba(0, 0, 0, 0.068);
}

.chats-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chats-head * {
    margin: 0;
}
.chats-placeholder{
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chats-placeholder p, .chat-placeholder p{
    color: rgb(83, 100, 113);
    text-align: left;
    margin-top: 0px;
}
.chats-placeholder-header{
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    margin-top: 24px;
}
.chat-placeholder-header {
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
    margin-top: 24px;
}
.chat-placeholder{
    width: 368px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.messages-main.center{
    align-items: center;
    justify-content: center;
}

.chat-new-message{
    width: fit-content;
}
.modal.message{
    padding: 0px;
}
.message-search-svg{
    height: 20px;
    fill: gray;
}
.new-message-input-container{
    border-bottom: 1px solid gainsboro;
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
}

.new-message-input-container input{
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
}

.new-message-input-container input:focus + * {
    fill: rgb(29, 155, 240);
}

.modal.message .tweet-header{
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.modal.message .tweet{
    cursor: pointer;
    transition: 300ms;
}
.modal.message .tweet:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 220, 0.37);
}
.modal.message .tweet .tweet-profile-pic{
    box-shadow: none;
}

.align-loader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-input-container .tweet-media-wrapper{
    width: 150px;
    height: 150px;
    margin: 8px 0px 0px 8px;
    position: relative;
}

.message-input-container .tweet-media-wrapper img {
    width: 100%;
    height: 100%;
}

.message-media-remove{
    position: absolute;
    left: 4px;
    top: 4px;
    height: 30px;
    width: 30px;
    padding: 4px;
    fill: white;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 50%;
}
.main-tweet-header.first-message{
    flex-direction: column;
}
.main-tweet.first-message{
    border-bottom: 1px solid rgb(239, 243, 244);
    padding: 46px 36px;
}
.first-message .tweet-profile-pic{
    width: 68px;
    height: 68px;
}
.first-message .main-tweet-names{
    align-items: center;
}
.first-message .profile-name, .first-message .profile-tag{
    font-size: 1.1rem;
}