.right-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 390px;
}

@media (max-width: 999px) {
    .right-bar {
        display: none;
    }
}

.right-bar-box {
    background-color: var(--hover-color);
    color: var(--font-color);
    padding: 0px 16px 16px 16px;
    border-radius: 15px;
}

.right-bar-box .title {
    text-align: left;
}

.right-bar-box .tweet-profile-pic {
    box-shadow: none;
}

.follow-button {
    font-family: inherit;
    color: white;
    border: 0px;
    font-size: 1rem;
    padding: .36rem .90rem;
    font-weight: 600;
    border-radius: 25px;
    background-color: var(--font-color);
    transition: 300ms;
}

.unfollow-button {
    font-family: inherit;
    border: 1px solid rgb(235, 235, 235);
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: .36rem .90rem;
    font-weight: 600;
    border-radius: 25px;
    transition: 300ms;
}

.follow-button:hover {
    background-color: rgba(0, 0, 0, 0.747);
}

.right-bar-box .tweet-header {
    flex-direction: column;
    gap: 0px;
    text-align: left;
}

.right-bar-box .main-tweet-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.register-button {
    background-color: white;
    border: 0px;
    width: 100%;
    padding: .65rem;
    border-radius: 50px;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid var(--light-font-color);
}

.register-container {
    border-radius: 15px;
    display: flex;
    gap: 12px;
    color: var(--font-color);
    border: 1px solid var(--light-font-color);
    padding: 0px 16px 16px 16px;
    flex-direction: column;
}

.register-container .title {
    margin-top: 5px;
    margin-bottom: 0px;
}

.sign-form {
    width: 450px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 16px;
}

.login-form {
    width: 350px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 16px;
    gap: 16px;
}

.register-or {
    position: relative;
}

.register-or::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: rgb(122, 125, 128);
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
}

.register-or span {
    background-color: var(--background-color);
    position: relative;
    padding: 8px;
    z-index: 2;
}

.sign-form .title {
    text-align: left;
}

.sign-form .profile-info-modal {
    padding: 0px;
    flex: 1;
}

.signin.modal-container {
    align-items: center;
}

.signin.modal {
    margin: 0px;
    height: 650px;
    position: relative;
}

.signin-button-next {
    width: 100%;
    padding: .85rem;
    border: none;
    background-color: var(--font-color);
    color: white;
    border-radius: 150px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
}

.error-email {
    position: absolute;
    color: red;
}

.error {
    outline: 2px solid red;
    margin-bottom: 12px;
}

.date-containers {
    display: flex;
    gap: 4px;
}

.birthday {
    margin: 0px;
}

.birthday-header p {
    margin: 0px;
    text-align: left;
    color: var(--light-font-color);
}

.date-containers>label {
    flex: 1;
}

.date-containers>label:first-child {
    flex: 2;
}

.password-title {
    margin-bottom: 0;
    text-align: left;
}

.password-title+p {
    margin: 0;
    text-align: left;
    margin-bottom: 24px;
}

.sign-form .profile-pic-container {
    position: static;
    justify-content: center;
}

.sign-form .profile-opt {
    justify-content: center;
    align-items: center;
    height: 150px;
}

.who-to-follow {
    margin-bottom: 16px;
}

.login-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--color);
    z-index: 100;
    padding: 12px;
}

.login-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
    color: white;
}

.login-footer-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.login-text .header {
    font-size: 1.6rem;
    font-weight: 900;
}

.login-text .sub-header {
    font-size: 1.3rem;
}

.login-text>* {
    text-align: left;
}

.login-footer-buttons button {
    padding: .35rem 1.75rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 35px;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    font-family: inherit;
    transition: 200ms;
}

.login-footer-buttons button:nth-child(2) {
    background-color: white;
    color: var(--color);
}

.login-footer-buttons button:hover {
    background-color: rgba(220, 220, 220, 0.171);
}

.login-footer-buttons button:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.863);
}

.signin .loadBar-modal {
    top: 0;
    z-index: 100;
}

.modal-container.signin {
    overflow: hidden;
}