.main-tweet-profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.tweet-exp {
    position: relative;
}

.main-tweet {
    padding: 16px 16px 5px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    scroll-margin: 40px;
}

.main-tweet-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-tweet-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-tweet-main-content {
    font-size: 23px;
    text-align: start;
    white-space: pre-line;
}

.main-tweet-wrapper {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.main-tweet-interact {
    background-color: var(--background-color);
    width: 100%;
    padding: 4px 30px 4px 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

}

.main-tweet-interact svg {
    height: 36.75px;
    fill: var(--light-font-color);
    padding: 7px;
    border-radius: 50%;
    transition: 100ms;
}

.main-tweet-interact>* {
    color: var(--light-font-color);
    display: flex;
    gap: 5px;
    padding: 0px 20px 0px 0px;
    transition: 100ms;
    align-items: center;
    font-size: 16px;
    border-radius: 50%;
    font-weight: 400;
}

.bold {
    font-weight: 600;
    color: var(--font-color);
}

.main-tweet-meta {
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    height: 44px;
    gap: 15px;
    color: var(--light-font-color);
}

.tweet-parent .side-tweet {
    position: relative;
}

.tweet-profile-pic {
    box-shadow: 0px 0px 0px 5px var(--background-color);
}

main:not(.modal)>.tweet:not(.display):not(.home-write):hover .tweet-profile-pic {
    box-shadow: 0px 0px 0px 5px var(--hover-color);
}

.tweet-parent .side-tweet::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: var(--light-font-color);
    top: 48px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.return-tweet-exp {
    display: flex;
    align-items: center;
    padding: 12px !important;
    gap: 20px;
    backdrop-filter: blur(8px);
    background-color: var(--semitransparent-background);
    border: 0;
    position: sticky;
    top: 0;
    height: 53px;
    font-size: 1.35rem;
    font-weight: 600;
    z-index: 10;
}

.return-tweet-exp:hover {
    cursor: pointer;
}

.return-tweet-exp .wrapper {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.return-tweet-exp svg {
    height: 40%;
    width: 40%;
    fill: var(--font-color);
}

.tweet-parent {
    border: 0px;
}

.reply-write {
    padding-top: 0px;
}

.like-button .heart-icon {
    height: 100px;
    width: 100px;
    background: url("../imgs/heart.png");
    background-position: left;
    cursor: pointer;
    position: absolute;
}

.like-button .heart-icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
    to {
        background-position: right;
    }
}

.like-button .heart-bg {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.main-tweet .heart-bg {
    height: 35px;
    width: 35px;
}

.like-button .heart-bg:hover {
    background: rgba(249, 24, 129, 0.116);
}

.like-button {
    display: flex;
    align-items: center;
}